.section {
    background: #2e2f42;
}
.solutions {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
.section .button {
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.section .button:hover {
    background-color: #404bbf;
}

.section .button:focus {
    background-color: #404bbf;
}



