#hero {
    background: #2e2f42;
}
.solutions {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
#hero .button {
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}

#hero .button:hover {
    background-color: #404bbf;
}



